
    <p>Tripping off the beat kinda dripping off the meat grinder
 </p>
    <p>
        
            <span class="group1">
            TRIH
            </span>
        
            <span class="group2">
            PIHNG
            </span>
        
    
        
            <span class="group3">
            AOF
            </span>
        
    
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group5">
            BIYT
            </span>
        
    
        
            <span class="group0">
            KIHN
            </span>
        
            <span class="group4">
            DAH
            </span>
        
    
        
            <span class="group1">
            DRIH
            </span>
        
            <span class="group2">
            PIHNG
            </span>
        
    
        
            <span class="group3">
            AOF
            </span>
        
    
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group5">
            MIYT
            </span>
        
    
        
            <span class="group0">
            GRAYN
            </span>
        
            <span class="group6">
            DER
            </span>
        
    </p>

    <p>Heat niner pimping stripping soft sweet minor
 </p>
    <p>
        
            <span class="group5">
            HHIYT
            </span>
        
    
        
            <span class="group7">
            NAY
            </span>
        
            <span class="group6">
            NER
            </span>
        
    
        
            <span class="group0">
            PIHM
            </span>
        
            <span class="group2">
            PIHNG
            </span>
        
    
        
            <span class="group1">
            STRIH
            </span>
        
            <span class="group2">
            PIHNG
            </span>
        
    
        
            <span class="group0">
            SAAFT
            </span>
        
    
        
            <span class="group5">
            SWIYT
            </span>
        
    
        
            <span class="group7">
            MAY
            </span>
        
            <span class="group6">
            NER
            </span>
        
    </p>

    <p>China was a neat signer trouble with the script digits
 </p>
    <p>
        
            <span class="group7">
            CHAY
            </span>
        
            <span class="group4">
            NAH
            </span>
        
    
        
            <span class="group0">
            WAAZ
            </span>
        
    
        
            <span class="group4">
            AH
            </span>
        
    
        
            <span class="group5">
            NIYT
            </span>
        
    
        
            <span class="group7">
            SAY
            </span>
        
            <span class="group6">
            NER
            </span>
        
    
        
            <span class="group4">
            TRAH
            </span>
        
            <span class="group8">
            BAHL
            </span>
        
    
        
            <span class="group0">
            WIHDH
            </span>
        
    
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group9">
            SKRIHPT
            </span>
        
    
        
            <span class="group1">
            DIH
            </span>
        
            <span class="group0">
            JHAHTS
            </span>
        
    </p>

    <p>Double dipped bubble lipped subtle lisp midget
 </p>
    <p>
        
            <span class="group4">
            DAH
            </span>
        
            <span class="group8">
            BAHL
            </span>
        
    
        
            <span class="group9">
            DIHPT
            </span>
        
    
        
            <span class="group4">
            BAH
            </span>
        
            <span class="group8">
            BAHL
            </span>
        
    
        
            <span class="group9">
            LIHPT
            </span>
        
    
        
            <span class="group4">
            SAH
            </span>
        
            <span class="group8">
            TAHL
            </span>
        
    
        
            <span class="group0">
            LIHSP
            </span>
        
    
        
            <span class="group1">
            MIH
            </span>
        
            <span class="group0">
            JHAHT
            </span>
        
    </p>

    <p>Borderline schizo sort of fine tits though
 </p>
    <p>
        
            <span class="group11">
            BAOR
            </span>
        
            <span class="group6">
            DER
            </span>
        
            <span class="group10">
            LAYN
            </span>
        
    
        
            <span class="group13">
            SKIY
            </span>
        
            <span class="group12">
            ZOW
            </span>
        
    
        
            <span class="group0">
            SAORT
            </span>
        
    
        
            <span class="group0">
            AHV
            </span>
        
    
        
            <span class="group10">
            FAYN
            </span>
        
    
        
            <span class="group0">
            TIHTS
            </span>
        
    
        
            <span class="group12">
            DHOW
            </span>
        
    </p>

    <p>Pour the wine whore to grind quarter to nine let's go
 </p>
    <p>
        
            <span class="group11">
            PAOR
            </span>
        
    
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group10">
            WAYN
            </span>
        
    
        
            <span class="group11">
            HHAOR
            </span>
        
    
        
            <span class="group4">
            TAH
            </span>
        
    
        
            <span class="group0">
            GRAYND
            </span>
        
    
        
            <span class="group11">
            KWAOR
            </span>
        
            <span class="group6">
            TER
            </span>
        
    
        
            <span class="group4">
            TAH
            </span>
        
    
        
            <span class="group10">
            NAYN
            </span>
        
    
        
            <span class="group0">
            LEHTS
            </span>
        
    
        
            <span class="group12">
            GOW
            </span>
        
    </p>

    <p>Ever since ten eleven glad she made a brethren
 </p>
    <p>
        
            <span class="group14">
            EH
            </span>
        
            <span class="group6">
            VER
            </span>
        
    
        
            <span class="group0">
            SIHNS
            </span>
        
    
        
            <span class="group15">
            TEHN
            </span>
        
    
        
            <span class="group0">
            IH
            </span>
        
            <span class="group14">
            LEH
            </span>
        
            <span class="group16">
            VAHN
            </span>
        
    
        
            <span class="group0">
            GLAED
            </span>
        
    
        
            <span class="group13">
            SHIY
            </span>
        
    
        
            <span class="group0">
            MEYD
            </span>
        
    
        
            <span class="group4">
            AH
            </span>
        
    
        
            <span class="group0">
            BREHDH
            </span>
        
            <span class="group16">
            RAHN
            </span>
        
    </p>

    <p>Then it's last down seven alligator seven
 </p>
    <p>
        
            <span class="group15">
            DHEHN
            </span>
        
    
        
            <span class="group0">
            IHTS
            </span>
        
    
        
            <span class="group0">
            LAEST
            </span>
        
    
        
            <span class="group0">
            DAWN
            </span>
        
    
        
            <span class="group14">
            SEH
            </span>
        
            <span class="group16">
            VAHN
            </span>
        
    
        
            <span class="group0">
            AE
            </span>
        
            <span class="group4">
            LAH
            </span>
        
            <span class="group0">
            GEY
            </span>
        
            <span class="group6">
            TER
            </span>
        
    
        
            <span class="group14">
            SEH
            </span>
        
            <span class="group16">
            VAHN
            </span>
        
    </p>

    <p>At the gates of heaven knocking - no answer
 </p>
    <p>
        
            <span class="group0">
            AET
            </span>
        
    
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group0">
            GEYTS
            </span>
        
    
        
            <span class="group0">
            AHV
            </span>
        
    
        
            <span class="group14">
            HHEH
            </span>
        
            <span class="group16">
            VAHN
            </span>
        
    
        
            <span class="group0">
            NAA
            </span>
        
            <span class="group0">
            KIHNG
            </span>
        
    
        
            <span class="group0">
            -
            </span>
        
    
        
            <span class="group17">
            NOW
            </span>
        
    
        
            <span class="group18">
            AEN
            </span>
        
            <span class="group6">
            SER
            </span>
        
    </p>

    <p>Slow dancer hopeless romancer dopest flow stanzas
 </p>
    <p>
        
            <span class="group17">
            SLOW
            </span>
        
    
        
            <span class="group18">
            DAEN
            </span>
        
            <span class="group6">
            SER
            </span>
        
    
        
            <span class="group17">
            HHOW
            </span>
        
            <span class="group0">
            PLAHS
            </span>
        
    
        
            <span class="group17">
            ROW
            </span>
        
            <span class="group18">
            MAEN
            </span>
        
            <span class="group6">
            SER
            </span>
        
    
        
            <span class="group17">
            DOW
            </span>
        
            <span class="group0">
            PAHST
            </span>
        
    
        
            <span class="group17">
            FLOW
            </span>
        
    
        
            <span class="group18">
            STAEN
            </span>
        
            <span class="group0">
            ZAHZ
            </span>
        
    </p>

    <p>Yes no Villain Metal face to Destro
 </p>
    <p>
        
            <span class="group19">
            YEHS
            </span>
        
    
        
            <span class="group17">
            NOW
            </span>
        
    
        
            <span class="group0">
            VIH
            </span>
        
            <span class="group16">
            LAHN
            </span>
        
    
        
            <span class="group14">
            MEH
            </span>
        
            <span class="group20">
            TAHL
            </span>
        
    
        
            <span class="group0">
            FEYS
            </span>
        
    
        
            <span class="group4">
            TAH
            </span>
        
    
        
            <span class="group14">
            DEH
            </span>
        
            <span class="group17">
            STROW
            </span>
        
    </p>

    <p>Guess so still incredible in escrow
 </p>
    <p>
        
            <span class="group19">
            GEHS
            </span>
        
    
        
            <span class="group17">
            SOW
            </span>
        
    
        
            <span class="group21">
            STIHL
            </span>
        
    
        
            <span class="group22">
            IHN
            </span>
        
            <span class="group14">
            KREH
            </span>
        
            <span class="group4">
            DAH
            </span>
        
            <span class="group20">
            BAHL
            </span>
        
    
        
            <span class="group22">
            IHN
            </span>
        
    
        
            <span class="group14">
            EH
            </span>
        
            <span class="group17">
            SKROW
            </span>
        
    </p>

    <p>Just say Ho I'll test the yayo
 </p>
    <p>
        
            <span class="group0">
            JHAHST
            </span>
        
    
        
            <span class="group23">
            SEY
            </span>
        
    
        
            <span class="group17">
            HHOW
            </span>
        
    
        
            <span class="group21">
            IHL
            </span>
        
    
        
            <span class="group24">
            TEHST
            </span>
        
    
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group23">
            YEY
            </span>
        
            <span class="group17">
            OW
            </span>
        
    </p>

    <p>Wild West style fest y'all best to lay low
 </p>
    <p>
        
            <span class="group0">
            WAYLD
            </span>
        
    
        
            <span class="group24">
            WEHST
            </span>
        
    
        
            <span class="group0">
            STAYL
            </span>
        
    
        
            <span class="group24">
            FEHST
            </span>
        
    
        
            <span class="group0">
            YAOL
            </span>
        
    
        
            <span class="group24">
            BEHST
            </span>
        
    
        
            <span class="group4">
            TAH
            </span>
        
    
        
            <span class="group23">
            LEY
            </span>
        
    
        
            <span class="group17">
            LOW
            </span>
        
    </p>

    <p>Hey bro Day Glo set the bet pay dough
 </p>
    <p>
        
            <span class="group23">
            HHEY
            </span>
        
    
        
            <span class="group17">
            BROW
            </span>
        
    
        
            <span class="group23">
            DEY
            </span>
        
    
        
            <span class="group17">
            GLOW
            </span>
        
    
        
            <span class="group25">
            SEHT
            </span>
        
    
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group25">
            BEHT
            </span>
        
    
        
            <span class="group23">
            PEY
            </span>
        
    
        
            <span class="group17">
            DOW
            </span>
        
    </p>

    <p>Before the cheddar get away best to get Maaco
 </p>
    <p>
        
            <span class="group0">
            BIH
            </span>
        
            <span class="group0">
            FAOR
            </span>
        
    
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group27">
            CHEH
            </span>
        
            <span class="group26">
            DER
            </span>
        
    
        
            <span class="group25">
            GEHT
            </span>
        
    
        
            <span class="group4">
            AH
            </span>
        
            <span class="group23">
            WEY
            </span>
        
    
        
            <span class="group24">
            BEHST
            </span>
        
    
        
            <span class="group4">
            TAH
            </span>
        
    
        
            <span class="group25">
            GEHT
            </span>
        
    
        
            <span class="group23">
            MEY
            </span>
        
            <span class="group17">
            KOW
            </span>
        
    </p>

    <p>The worst hated God who perpetrated odd favors
 </p>
    <p>
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group0">
            WERST
            </span>
        
    
        
            <span class="group23">
            HHEY
            </span>
        
            <span class="group28">
            TAHD
            </span>
        
    
        
            <span class="group29">
            GAAD
            </span>
        
    
        
            <span class="group0">
            HHUW
            </span>
        
    
        
            <span class="group26">
            PER
            </span>
        
            <span class="group4">
            PAH
            </span>
        
            <span class="group23">
            TREY
            </span>
        
            <span class="group0">
            TIHD
            </span>
        
    
        
            <span class="group29">
            AAD
            </span>
        
    
        
            <span class="group23">
            FEY
            </span>
        
            <span class="group30">
            VERZ
            </span>
        
    </p>

    <p>Demonstrated in the perforated Rod Lavers
 </p>
    <p>
        
            <span class="group27">
            DEH
            </span>
        
            <span class="group0">
            MAHN
            </span>
        
            <span class="group23">
            STREY
            </span>
        
            <span class="group28">
            TAHD
            </span>
        
    
        
            <span class="group31">
            IHN
            </span>
        
    
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group26">
            PER
            </span>
        
            <span class="group0">
            FER
            </span>
        
            <span class="group23">
            EY
            </span>
        
            <span class="group28">
            TAHD
            </span>
        
    
        
            <span class="group29">
            RAAD
            </span>
        
    
        
            <span class="group23">
            LEY
            </span>
        
            <span class="group30">
            VERZ
            </span>
        
    </p>

    <p>In all quad flavors Lord save us
 </p>
    <p>
        
            <span class="group31">
            IHN
            </span>
        
    
        
            <span class="group0">
            AOL
            </span>
        
    
        
            <span class="group29">
            KWAAD
            </span>
        
    
        
            <span class="group23">
            FLEY
            </span>
        
            <span class="group30">
            VERZ
            </span>
        
    
        
            <span class="group0">
            LAORD
            </span>
        
    
        
            <span class="group0">
            SEYV
            </span>
        
    
        
            <span class="group0">
            AHS
            </span>
        
    </p>

    <p>Still back in the game like Jack LaLanne
 </p>
    <p>
        
            <span class="group0">
            STIHL
            </span>
        
    
        
            <span class="group32">
            BAEK
            </span>
        
    
        
            <span class="group31">
            IHN
            </span>
        
    
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group33">
            GEYM
            </span>
        
    
        
            <span class="group0">
            LAYK
            </span>
        
    
        
            <span class="group32">
            JHAEK
            </span>
        
    
        
            <span class="group0">
            LAA]-[L
            </span>
        
            <span class="group0">
            AEN
            </span>
        
    </p>

    <p>Think you know the name don't rack your brain
 </p>
    <p>
        
            <span class="group0">
            THIHNGK
            </span>
        
    
        
            <span class="group0">
            YUW
            </span>
        
    
        
            <span class="group34">
            NOW
            </span>
        
    
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group33">
            NEYM
            </span>
        
    
        
            <span class="group0">
            DOWNT
            </span>
        
    
        
            <span class="group32">
            RAEK
            </span>
        
    
        
            <span class="group35">
            YAOR
            </span>
        
    
        
            <span class="group36">
            BREYN
            </span>
        
    </p>

    <p>On a fast track to half insane
 </p>
    <p>
        
            <span class="group0">
            AAN
            </span>
        
    
        
            <span class="group4">
            AH
            </span>
        
    
        
            <span class="group0">
            FAEST
            </span>
        
    
        
            <span class="group32">
            TRAEK
            </span>
        
    
        
            <span class="group4">
            TAH
            </span>
        
    
        
            <span class="group37">
            HHAEF
            </span>
        
    
        
            <span class="group31">
            IHN
            </span>
        
            <span class="group36">
            SEYN
            </span>
        
    </p>

    <p>Either in a slow beat or that the speed of "Wrath of Kane"
 </p>
    <p>
        
            <span class="group0">
            AY
            </span>
        
            <span class="group38">
            DHER
            </span>
        
    
        
            <span class="group31">
            IHN
            </span>
        
    
        
            <span class="group4">
            AH
            </span>
        
    
        
            <span class="group34">
            SLOW
            </span>
        
    
        
            <span class="group0">
            BIYT
            </span>
        
    
        
            <span class="group35">
            AOR
            </span>
        
    
        
            <span class="group0">
            DHAET
            </span>
        
    
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group0">
            SPIYD
            </span>
        
    
        
            <span class="group39">
            AHV
            </span>
        
    
        
            <span class="group0">
            RAETH
            </span>
        
    
        
            <span class="group39">
            AHV
            </span>
        
    
        
            <span class="group36">
            KEYN
            </span>
        
    </p>

    <p>Laughter pain
 </p>
    <p>
        
            <span class="group37">
            LAEF
            </span>
        
            <span class="group38">
            TER
            </span>
        
    
        
            <span class="group36">
            PEYN
            </span>
        
    </p>

    <p>Hackthoo'ing songs lit in the booth with the best host
 </p>
    <p>
        
            <span class="group0">
            HHAEK
            </span>
        
            <span class="group40">
            THUW
            </span>
        
            <span class="group41">
            IHNG
            </span>
        
    
        
            <span class="group0">
            SAONGZ
            </span>
        
    
        
            <span class="group42">
            LIHT
            </span>
        
    
        
            <span class="group31">
            IHN
            </span>
        
    
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group0">
            BUWTH
            </span>
        
    
        
            <span class="group0">
            WIHDH
            </span>
        
    
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group43">
            BEHST
            </span>
        
    
        
            <span class="group44">
            HHOWST
            </span>
        
    </p>

    <p>Doing bong hits on the roof in the west coast
 </p>
    <p>
        
            <span class="group40">
            DUW
            </span>
        
            <span class="group41">
            IHNG
            </span>
        
    
        
            <span class="group0">
            BAANG
            </span>
        
    
        
            <span class="group0">
            HHIHTS
            </span>
        
    
        
            <span class="group0">
            AAN
            </span>
        
    
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group0">
            RUHF
            </span>
        
    
        
            <span class="group31">
            IHN
            </span>
        
    
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group43">
            WEHST
            </span>
        
    
        
            <span class="group44">
            KOWST
            </span>
        
    </p>

    <p>He's at it again mad at the pen
 </p>
    <p>
        
            <span class="group0">
            HHEHZ
            </span>
        
    
        
            <span class="group45">
            AET
            </span>
        
    
        
            <span class="group42">
            IHT
            </span>
        
    
        
            <span class="group4">
            AH
            </span>
        
            <span class="group46">
            GEHN
            </span>
        
    
        
            <span class="group47">
            MAED
            </span>
        
    
        
            <span class="group45">
            AET
            </span>
        
    
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group46">
            PEHN
            </span>
        
    </p>

    <p>Glad that we win a tad fat in a bad hat for men
 </p>
    <p>
        
            <span class="group47">
            GLAED
            </span>
        
    
        
            <span class="group45">
            DHAET
            </span>
        
    
        
            <span class="group0">
            WIY
            </span>
        
    
        
            <span class="group31">
            WIHN
            </span>
        
    
        
            <span class="group4">
            AH
            </span>
        
    
        
            <span class="group47">
            TAED
            </span>
        
    
        
            <span class="group45">
            FAET
            </span>
        
    
        
            <span class="group31">
            IHN
            </span>
        
    
        
            <span class="group4">
            AH
            </span>
        
    
        
            <span class="group47">
            BAED
            </span>
        
    
        
            <span class="group45">
            HHAET
            </span>
        
    
        
            <span class="group48">
            FAOR
            </span>
        
    
        
            <span class="group46">
            MEHN
            </span>
        
    </p>

    <p>Grind the cinnamon Manhattan warmongers
 </p>
    <p>
        
            <span class="group49">
            GRAYND
            </span>
        
    
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group51">
            SIH
            </span>
        
            <span class="group4">
            NAH
            </span>
        
            <span class="group50">
            MAHN
            </span>
        
    
        
            <span class="group52">
            MAEN
            </span>
        
            <span class="group53">
            HHAE
            </span>
        
            <span class="group50">
            TAHN
            </span>
        
    
        
            <span class="group48">
            WAOR
            </span>
        
            <span class="group0">
            MAANG
            </span>
        
            <span class="group0">
            GERZ
            </span>
        
    </p>

    <p>You can find the villain in satin kongas
 </p>
    <p>
        
            <span class="group0">
            YUW
            </span>
        
    
        
            <span class="group52">
            KAEN
            </span>
        
    
        
            <span class="group49">
            FAYND
            </span>
        
    
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group51">
            VIH
            </span>
        
            <span class="group50">
            LAHN
            </span>
        
    
        
            <span class="group31">
            IHN
            </span>
        
    
        
            <span class="group53">
            SAE
            </span>
        
            <span class="group50">
            TAHN
            </span>
        
    
        
            <span class="group0">
            KAONG
            </span>
        
            <span class="group54">
            GAHZ
            </span>
        
    </p>

    <p>The van screeches
 </p>
    <p>
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group52">
            VAEN
            </span>
        
    
        
            <span class="group55">
            SKRIY
            </span>
        
            <span class="group56">
            CHIHZ
            </span>
        
    </p>

    <p>The old man preaches about the gold sand beaches
 </p>
    <p>
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group57">
            OWLD
            </span>
        
    
        
            <span class="group52">
            MAEN
            </span>
        
    
        
            <span class="group55">
            PRIY
            </span>
        
            <span class="group56">
            CHIHZ
            </span>
        
    
        
            <span class="group4">
            AH
            </span>
        
            <span class="group0">
            BAWT
            </span>
        
    
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group57">
            GOWLD
            </span>
        
    
        
            <span class="group58">
            SAEND
            </span>
        
    
        
            <span class="group55">
            BIY
            </span>
        
            <span class="group54">
            CHAHZ
            </span>
        
    </p>

    <p>The cold hand reaches for the old tan Ellesse's
 </p>
    <p>
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group57">
            KOWLD
            </span>
        
    
        
            <span class="group58">
            HHAEND
            </span>
        
    
        
            <span class="group55">
            RIY
            </span>
        
            <span class="group54">
            CHAHZ
            </span>
        
    
        
            <span class="group0">
            FAOR
            </span>
        
    
        
            <span class="group4">
            DHAH
            </span>
        
    
        
            <span class="group57">
            OWLD
            </span>
        
    
        
            <span class="group52">
            TAEN
            </span>
        
    
        
            <span class="group0">
            EH
            </span>
        
            <span class="group4">
            LAH
            </span>
        
            <span class="group56">
            SIHZ
            </span>
        
    </p>

    <p>Jesus </p>
    <p>
        
            <span class="group55">
            JHIY
            </span>
        
            <span class="group0">
            ZAHS
            </span>
        
    </p>


<script>
// Remove class group0
var group0 = document.querySelectorAll('span.group0');
for (var i = 0; i < group0.length; i++) {
    var group = group0[i];
    group.className = '';
}
// Give span of the same class the same background color
var groups = document.querySelectorAll('span[class^="group"]');
for (var i = 0; i < groups.length; i++) {
    var group = groups[i];
    var groupClass = group.className;
    var groupElements = document.querySelectorAll('span.' + groupClass);
    var color = '#' + Math.floor(Math.random()*16777215).toString(16);
    for (var j = 0; j < groupElements.length; j++) {
        groupElements[j].style.backgroundColor = color;
    }
}
</script>