
<p>Tripping off the beat kinda, dripping off the meat grinder
 </p>
<p>
  <span class="group1">TRIH</span>-<span class="group2">PIHNG</span>&nbsp;
  <span class="group3">AOF</span>&nbsp;
  <span class="group4">DHAH</span>&nbsp;
  <span class="group5">BIYT</span>&nbsp;
  <span class="group6">KIHN</span>-<span class="group4">DAH</span>&nbsp;
  <span class="group1">DRIH</span>-<span class="group2">PIHNG</span>&nbsp;
  <span class="group3">AOF</span>&nbsp;
  <span class="group4">DHAH</span>&nbsp;
  <span class="group5">MIYT</span>&nbsp;
  <span class="group0">GRAYN</span>-<span class="group7">DER</span>&nbsp;
</p>

<p>Heat niner, pimping, stripping, soft sweet minor
 </p>
<p>
  <span class="group5">HHIYT</span>&nbsp;
  <span class="group8">NAY</span>-<span class="group7">NER</span>&nbsp;
  <span class="group6">PIHM</span>-<span class="group2">PIHNG</span>&nbsp;
  <span class="group1">STRIH</span>-<span class="group2">PIHNG</span>&nbsp;
  <span class="group0">SAAFT</span>&nbsp;
  <span class="group5">SWIYT</span>&nbsp;
  <span class="group8">MAY</span>-<span class="group7">NER</span>&nbsp;
</p>

<p>China was a neat signer, trouble with the script digits
 </p>
<p>
  <span class="group8">CHAY</span>-<span class="group9">NAH</span>&nbsp;
  <span class="group0">WAAZ</span>&nbsp;
  <span class="group9">AH</span>&nbsp;
  <span class="group5">NIYT</span>&nbsp;
  <span class="group8">SAY</span>-<span class="group7">NER</span>&nbsp;
  <span class="group9">TRAH</span>-<span class="group10">BAHL</span>&nbsp;
  <span class="group0">WIHDH</span>&nbsp;
  <span class="group9">DHAH</span>&nbsp;
  <span class="group11">SKRIHPT</span>&nbsp;
  <span class="group1">DIH</span>-<span class="group9">JHAHTS</span>&nbsp;
</p>

<p>Double dipped, bubble lipped, subtle lisp midget
 </p>
<p>
  <span class="group9">DAH</span>-<span class="group10">BAHL</span>&nbsp;
  <span class="group11">DIHPT</span>&nbsp;
  <span class="group9">BAH</span>-<span class="group10">BAHL</span>&nbsp;
  <span class="group11">LIHPT</span>&nbsp;
  <span class="group9">SAH</span>-<span class="group10">TAHL</span>&nbsp;
  <span class="group0">LIHSP</span>&nbsp;
  <span class="group1">MIH</span>-<span class="group9">JHAHT</span>&nbsp;
</p>

<p>Borderline schizo, sort of fine tits though
 </p>
<p>
  <span class="group12">BAOR</span>-<span class="group14">DER</span>-<span class="group13">LAYN</span>&nbsp;
  <span class="group1">SKIY</span>-<span class="group15">ZOW</span>&nbsp;
  <span class="group12">SAORT</span>&nbsp;
  <span class="group0">AHV</span>&nbsp;
  <span class="group13">FAYN</span>&nbsp;
  <span class="group1">TIHTS</span>&nbsp;
  <span class="group15">DHOW</span>&nbsp;
</p>

<p>Pour the wine, whore to grind, quarter to nine, let's go
 </p>
<p>
  <span class="group12">PAOR</span>&nbsp;
  <span class="group16">DHAH</span>&nbsp;
  <span class="group13">WAYN</span>&nbsp;
  <span class="group12">HHAOR</span>&nbsp;
  <span class="group16">TAH</span>&nbsp;
  <span class="group13">GRAYND</span>&nbsp;
  <span class="group12">KWAOR</span>-<span class="group14">TER</span>&nbsp;
  <span class="group16">TAH</span>&nbsp;
  <span class="group13">NAYN</span>&nbsp;
  <span class="group17">LEHTS</span>&nbsp;
  <span class="group15">GOW</span>&nbsp;
</p>

<p>Ever since ten eleven, glad she made a brethren
 </p>
<p>
  <span class="group17">EH</span>-<span class="group14">VER</span>&nbsp;
  <span class="group0">SIHNS</span>&nbsp;
  <span class="group18">TEHN</span>&nbsp;
  <span class="group19">IH</span>-<span class="group17">LEH</span>-<span class="group20">VAHN</span>&nbsp;
  <span class="group17">GLAED</span>&nbsp;
  <span class="group19">SHIY</span>&nbsp;
  <span class="group21">MEYD</span>&nbsp;
  <span class="group16">AH</span>&nbsp;
  <span class="group0">BREHDH</span>-<span class="group20">RAHN</span>&nbsp;
</p>

<p>Then it's last down, seven alligator seven
 </p>
<p>
  <span class="group18">DHEHN</span>&nbsp;
  <span class="group19">IHTS</span>&nbsp;
  <span class="group17">LAEST</span>&nbsp;
  <span class="group0">DAWN</span>&nbsp;
  <span class="group17">SEH</span>-<span class="group20">VAHN</span>&nbsp;
  <span class="group17">AE</span>-<span class="group16">LAH</span>-<span class="group21">GEY</span>-<span class="group14">TER</span>&nbsp;
  <span class="group17">SEH</span>-<span class="group20">VAHN</span>&nbsp;
</p>

<p>At the gates of heaven, knocking - no answer
 </p>
<p>
  <span class="group17">AET</span>&nbsp;
  <span class="group16">DHAH</span>&nbsp;
  <span class="group21">GEYTS</span>&nbsp;
  <span class="group0">AHV</span>&nbsp;
  <span class="group17">HHEH</span>-<span class="group20">VAHN</span>&nbsp;
  <span class="group16">NAA</span>-<span class="group0">KIHNG</span>&nbsp;
  <span class="group0"></span>&nbsp;
  <span class="group22">NOW</span>&nbsp;
  <span class="group18">AEN</span>-<span class="group14">SER</span>&nbsp;
</p>

<p>Slow dancer, hopeless romancer, dopest flow stanzas
 </p>
<p>
  <span class="group22">SLOW</span>&nbsp;
  <span class="group18">DAEN</span>-<span class="group14">SER</span>&nbsp;
  <span class="group22">HHOW</span>-<span class="group16">PLAHS</span>&nbsp;
  <span class="group22">ROW</span>-<span class="group18">MAEN</span>-<span class="group14">SER</span>&nbsp;
  <span class="group22">DOW</span>-<span class="group16">PAHST</span>&nbsp;
  <span class="group22">FLOW</span>&nbsp;
  <span class="group18">STAEN</span>-<span class="group16">ZAHZ</span>&nbsp;
</p>

<p>Yes, no? Villain, Metal face to Destro
 </p>
<p>
  <span class="group23">YEHS</span>&nbsp;
  <span class="group22">NOW</span>&nbsp;
  <span class="group0">VIH</span>-<span class="group0">LAHN</span>&nbsp;
  <span class="group23">MEH</span>-<span class="group24">TAHL</span>&nbsp;
  <span class="group0">FEYS</span>&nbsp;
  <span class="group16">TAH</span>&nbsp;
  <span class="group17">DEH</span>-<span class="group22">STROW</span>&nbsp;
</p>

<p>Guess so, still incredible in escrow
 </p>
<p>
  <span class="group23">GEHS</span>&nbsp;
  <span class="group22">SOW</span>&nbsp;
  <span class="group25">STIHL</span>&nbsp;
  <span class="group26">IHN</span>-<span class="group23">KREH</span>-<span class="group16">DAH</span>-<span class="group24">BAHL</span>&nbsp;
  <span class="group26">IHN</span>&nbsp;
  <span class="group23">EH</span>-<span class="group22">SKROW</span>&nbsp;
</p>

<p>Just say Ho! I'll test the yayo
 </p>
<p>
  <span class="group16">JHAHST</span>&nbsp;
  <span class="group27">SEY</span>&nbsp;
  <span class="group22">HHOW</span>&nbsp;
  <span class="group25">IHL</span>&nbsp;
  <span class="group23">TEHST</span>&nbsp;
  <span class="group16">DHAH</span>&nbsp;
  <span class="group27">YEY</span>-<span class="group22">OW</span>&nbsp;
</p>

<p>Wild West style fest, y'all best to lay low
 </p>
<p>
  <span class="group28">WAYLD</span>&nbsp;
  <span class="group23">WEHST</span>&nbsp;
  <span class="group28">STAYL</span>&nbsp;
  <span class="group23">FEHST</span>&nbsp;
  <span class="group0">YAOL</span>&nbsp;
  <span class="group23">BEHST</span>&nbsp;
  <span class="group16">TAH</span>&nbsp;
  <span class="group27">LEY</span>&nbsp;
  <span class="group22">LOW</span>&nbsp;
</p>

<p>Hey bro, Day Glo, set the bet, pay dough
 </p>
<p>
  <span class="group27">HHEY</span>&nbsp;
  <span class="group22">BROW</span>&nbsp;
  <span class="group27">DEY</span>&nbsp;
  <span class="group22">GLOW</span>&nbsp;
  <span class="group29">SEHT</span>&nbsp;
  <span class="group16">DHAH</span>&nbsp;
  <span class="group29">BEHT</span>&nbsp;
  <span class="group27">PEY</span>&nbsp;
  <span class="group22">DOW</span>&nbsp;
</p>

<p>Before the cheddar get away, best to get Maaco
 </p>
<p>
  <span class="group30">BIH</span>-<span class="group0">FAOR</span>&nbsp;
  <span class="group16">DHAH</span>&nbsp;
  <span class="group29">CHEH</span>-<span class="group31">DER</span>&nbsp;
  <span class="group29">GEHT</span>&nbsp;
  <span class="group16">AH</span>-<span class="group27">WEY</span>&nbsp;
  <span class="group29">BEHST</span>&nbsp;
  <span class="group16">TAH</span>&nbsp;
  <span class="group29">GEHT</span>&nbsp;
  <span class="group27">MEY</span>-<span class="group22">KOW</span>&nbsp;
</p>

<p>The worst hated God who perpetrated odd favors
 </p>
<p>
  <span class="group16">DHAH</span>&nbsp;
  <span class="group31">WERST</span>&nbsp;
  <span class="group27">HHEY</span>-<span class="group16">TAHD</span>&nbsp;
  <span class="group16">GAAD</span>&nbsp;
  <span class="group0">HHUW</span>&nbsp;
  <span class="group31">PER</span>-<span class="group16">PAH</span>-<span class="group27">TREY</span>-<span class="group30">TIHD</span>&nbsp;
  <span class="group16">AAD</span>&nbsp;
  <span class="group27">FEY</span>-<span class="group31">VERZ</span>&nbsp;
</p>

<p>Demonstrated in the perforated Rod Lavers
 </p>
<p>
  <span class="group0">DEH</span>-<span class="group0">MAHN</span>-<span class="group27">STREY</span>-<span class="group16">TAHD</span>&nbsp;
  <span class="group32">IHN</span>&nbsp;
  <span class="group16">DHAH</span>&nbsp;
  <span class="group31">PER</span>-<span class="group31">FER</span>-<span class="group27">EY</span>-<span class="group16">TAHD</span>&nbsp;
  <span class="group16">RAAD</span>&nbsp;
  <span class="group27">LEY</span>-<span class="group31">VERZ</span>&nbsp;
</p>

<p>In all quad flavors, Lord save us
 </p>
<p>
  <span class="group32">IHN</span>&nbsp;
  <span class="group33">AOL</span>&nbsp;
  <span class="group16">KWAAD</span>&nbsp;
  <span class="group27">FLEY</span>-<span class="group31">VERZ</span>&nbsp;
  <span class="group33">LAORD</span>&nbsp;
  <span class="group0">SEYV</span>&nbsp;
  <span class="group16">AHS</span>&nbsp;
</p>

<p>Still back in the game like Jack LaLanne
 </p>
<p>
  <span class="group0">STIHL</span>&nbsp;
  <span class="group34">BAEK</span>&nbsp;
  <span class="group32">IHN</span>&nbsp;
  <span class="group16">DHAH</span>&nbsp;
  <span class="group35">GEYM</span>&nbsp;
  <span class="group0">LAYK</span>&nbsp;
  <span class="group34">JHAEK</span>&nbsp;
  <span class="group16">LAA</span>-<span class="group0">LAEN</span>&nbsp;
</p>

<p>Think you know the name, don't rack your brain
 </p>
<p>
  <span class="group0">THIHNGK</span>&nbsp;
  <span class="group0">YUW</span>&nbsp;
  <span class="group0">NOW</span>&nbsp;
  <span class="group16">DHAH</span>&nbsp;
  <span class="group35">NEYM</span>&nbsp;
  <span class="group0">DOWNT</span>&nbsp;
  <span class="group34">RAEK</span>&nbsp;
  <span class="group0">YAOR</span>&nbsp;
  <span class="group35">BREYN</span>&nbsp;
</p>

<p>On a fast track to half insane
 </p>
<p>
  <span class="group0">AAN</span>&nbsp;
  <span class="group16">AH</span>&nbsp;
  <span class="group0">FAEST</span>&nbsp;
  <span class="group34">TRAEK</span>&nbsp;
  <span class="group16">TAH</span>&nbsp;
  <span class="group0">HHAEF</span>&nbsp;
  <span class="group36">IHN</span>-<span class="group35">SEYN</span>&nbsp;
</p>

<p>Either in a slow beat or that the speed of "Wrath of Kane"
 </p>
<p>
  <span class="group0">AY</span>-<span class="group37">DHER</span>&nbsp;
  <span class="group36">IHN</span>&nbsp;
  <span class="group16">AH</span>&nbsp;
  <span class="group0">SLOW</span>&nbsp;
  <span class="group38">BIYT</span>&nbsp;
  <span class="group0">AOR</span>&nbsp;
  <span class="group0">DHAET</span>&nbsp;
  <span class="group16">DHAH</span>&nbsp;
  <span class="group38">SPIYD</span>&nbsp;
  <span class="group39">AHV</span>&nbsp;
  <span class="group0">RAETH</span>&nbsp;
  <span class="group39">AHV</span>&nbsp;
  <span class="group35">KEYN</span>&nbsp;
</p>

<p>Laughter, pain
 </p>
<p>
  <span class="group0">LAEF</span>-<span class="group37">TER</span>&nbsp;
  <span class="group35">PEYN</span>&nbsp;
</p>

<p>Hackthoo'ing songs lit, in the booth, with the best host
 </p>
<p>
  <span class="group0">HHAEK</span>-<span class="group40">THUW</span>-<span class="group41">IHNG</span>&nbsp;
  <span class="group0">SAONGZ</span>&nbsp;
  <span class="group42">LIHT</span>&nbsp;
  <span class="group43">IHN</span>&nbsp;
  <span class="group44">DHAH</span>&nbsp;
  <span class="group0">BUWTH</span>&nbsp;
  <span class="group0">WIHDH</span>&nbsp;
  <span class="group44">DHAH</span>&nbsp;
  <span class="group45">BEHST</span>&nbsp;
  <span class="group46">HHOWST</span>&nbsp;
</p>

<p>Doing bong hits, on the roof in the west coast
 </p>
<p>
  <span class="group40">DUW</span>-<span class="group41">IHNG</span>&nbsp;
  <span class="group0">BAANG</span>&nbsp;
  <span class="group42">HHIHTS</span>&nbsp;
  <span class="group0">AAN</span>&nbsp;
  <span class="group44">DHAH</span>&nbsp;
  <span class="group0">RUHF</span>&nbsp;
  <span class="group43">IHN</span>&nbsp;
  <span class="group44">DHAH</span>&nbsp;
  <span class="group45">WEHST</span>&nbsp;
  <span class="group46">KOWST</span>&nbsp;
</p>

<p>He's at it again, mad at the pen
 </p>
<p>
  <span class="group45">HHEHZ</span>&nbsp;
  <span class="group47">AET</span>&nbsp;
  <span class="group42">IHT</span>&nbsp;
  <span class="group44">AH</span>-<span class="group48">GEHN</span>&nbsp;
  <span class="group47">MAED</span>&nbsp;
  <span class="group47">AET</span>&nbsp;
  <span class="group44">DHAH</span>&nbsp;
  <span class="group48">PEHN</span>&nbsp;
</p>

<p>Glad that we win a tad fat, in a bad hat for men
 </p>
<p>
  <span class="group47">GLAED</span>&nbsp;
  <span class="group47">DHAET</span>&nbsp;
  <span class="group49">WIY</span>&nbsp;
  <span class="group50">WIHN</span>&nbsp;
  <span class="group44">AH</span>&nbsp;
  <span class="group47">TAED</span>&nbsp;
  <span class="group47">FAET</span>&nbsp;
  <span class="group50">IHN</span>&nbsp;
  <span class="group44">AH</span>&nbsp;
  <span class="group47">BAED</span>&nbsp;
  <span class="group47">HHAET</span>&nbsp;
  <span class="group51">FAOR</span>&nbsp;
  <span class="group48">MEHN</span>&nbsp;
</p>

<p>Grind the cinnamon, Manhattan warmongers
 </p>
<p>
  <span class="group52">GRAYND</span>&nbsp;
  <span class="group44">DHAH</span>&nbsp;
  <span class="group49">SIH</span>-<span class="group44">NAH</span>-<span class="group53">MAHN</span>&nbsp;
  <span class="group48">MAEN</span>-<span class="group47">HHAE</span>-<span class="group53">TAHN</span>&nbsp;
  <span class="group51">WAOR</span>-<span class="group54">MAANG</span>-<span class="group0">GERZ</span>&nbsp;
</p>

<p>You can find the villain in satin, kongas
 </p>
<p>
  <span class="group0">YUW</span>&nbsp;
  <span class="group48">KAEN</span>&nbsp;
  <span class="group52">FAYND</span>&nbsp;
  <span class="group44">DHAH</span>&nbsp;
  <span class="group49">VIH</span>-<span class="group53">LAHN</span>&nbsp;
  <span class="group0">IHN</span>&nbsp;
  <span class="group47">SAE</span>-<span class="group53">TAHN</span>&nbsp;
  <span class="group54">KAONG</span>-<span class="group44">GAHZ</span>&nbsp;
</p>

<p>The van screeches
 </p>
<p>
  <span class="group44">DHAH</span>&nbsp;
  <span class="group48">VAEN</span>&nbsp;
  <span class="group49">SKRIY</span>-<span class="group49">CHIHZ</span>&nbsp;
</p>

<p>The old man preaches about the gold sand beaches
 </p>
<p>
  <span class="group44">DHAH</span>&nbsp;
  <span class="group55">OWLD</span>&nbsp;
  <span class="group48">MAEN</span>&nbsp;
  <span class="group49">PRIY</span>-<span class="group49">CHIHZ</span>&nbsp;
  <span class="group44">AH</span>-<span class="group0">BAWT</span>&nbsp;
  <span class="group44">DHAH</span>&nbsp;
  <span class="group55">GOWLD</span>&nbsp;
  <span class="group48">SAEND</span>&nbsp;
  <span class="group49">BIY</span>-<span class="group44">CHAHZ</span>&nbsp;
</p>

<p>The cold hand reaches for the old tan Ellesse's
 </p>
<p>
  <span class="group44">DHAH</span>&nbsp;
  <span class="group55">KOWLD</span>&nbsp;
  <span class="group48">HHAEND</span>&nbsp;
  <span class="group49">RIY</span>-<span class="group44">CHAHZ</span>&nbsp;
  <span class="group0">FAOR</span>&nbsp;
  <span class="group44">DHAH</span>&nbsp;
  <span class="group55">OWLD</span>&nbsp;
  <span class="group48">TAEN</span>&nbsp;
  <span class="group0">EH</span>-<span class="group44">LAH</span>-<span class="group49">SIHZ</span>&nbsp;
</p>

<p>Jesus </p>
<p>
  <span class="group49">JHIY</span>-<span class="group44">ZAHS</span>&nbsp;
</p>


<script>
  // Remove class group0
  var group0 = document.querySelectorAll('span.group0');
  for (var i = 0; i < group0.length; i++) {
    var group = group0[i];
    group.className = '';
  }
  // Give span of the same class the same background color
  function generateReadableBackgroundColor() {
    var color, luminance, backgroundColor;

    do {
      color = generateRandomColor();
      luminance = calculateLuminance(color);
      backgroundColor = color;
    } while (luminance < 0.5);

    return {
      background: backgroundColor
    };
  }

  function generateRandomColor() {
    return '#' + Math.floor(Math.random() * 16777215).toString(16);
  }

  function calculateLuminance(color) {
    var hex = color.replace('#', '');
    var r = parseInt(hex.substr(0, 2), 16) / 255;
    var g = parseInt(hex.substr(2, 2), 16) / 255;
    var b = parseInt(hex.substr(4, 2), 16) / 255;

    var luminance = 0.2126 * r + 0.7152 * g + 0.0722 * b;
    return luminance;
  }

  var groups = document.querySelectorAll('span[class^="group"]');
  for (var i = 0; i < groups.length; i++) {
    var group = groups[i];
    var groupClass = group.className;
    var groupElements = document.querySelectorAll('span.' + groupClass);
    var color = generateReadableBackgroundColor().background;
    for (var j = 0; j < groupElements.length; j++) {
      groupElements[j].style.backgroundColor = color;
    }
  }
</script>